{
  "version": 3,
  "debug_endpoint": true,
  "echo_endpoint": true,
  "host": ["http://localhost:8080/"],
  "endpoints": [
    {{- with $config := index $ "example" }}
    {
      "endpoint": "/example",
      "method": "GET",
      "extra_config": {
        "proxy": {
          "max_payload": {{ $config.max_payload }}
        }
      },
      "backend": [
        {
          "url_pattern": "/__debug/"
        }
      ]
    }
    {{- end }}
  ]
}
